@bgcolor: #e8eaed;
@white: #fff;

.half-px-box(@color: #eeeeee,@radius: 0) {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 1px solid @color;
  border-radius: @radius;
  transform: scale(0.5);
}
.half-px-line(@color: #eeeeee) {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: @color;
  transform: scaleY(0.5);
}

.mall-circle-checked(@size: 20px) {
  width: @size;
  height: @size;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 999px;
  &.checked {
    background: url("~@/assets/common/checked-solid.svg") center no-repeat;
    background-size: 100% auto;
    border-color: transparent;
  }
}

.display-flex-column-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

.display-flex-row-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

// 多行文本....
.text-lines(@lineNum) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-box(@boxstyle: border-box) {
  box-sizing: @boxstyle;
}

.bor-box {
  .border-box;
}

.z-index(@index: 1) {
  z-index: @index;
}

